rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /a-grade-pdfs/{allPaths=**} {
      allow read, write: if true;
    }

    match /oyoung-safety-photos/{allPaths=**} {
      allow read, write: if true;
    }
  }
}
